.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
  }
  
  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    p {
      margin: 0;
      padding: 5px 0;
  
      a {
        color: #fff;
        text-decoration: none;
  
        &:hover {
          color: #ccc;
        }
      }
    }
  }
  .footer-options {
    display: flex;
  }
  
  .footer-option {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
  }
  .imageF {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
  }
  
  .imageF {
    height: 100px;
  }
  .option-link {
    display: flex;
    align-items: center;
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
  }
  
  .option-link:hover {
    color: #ccc;
  }
  
  .option-link span {
    margin-left: 5px;
  }  
.footer-form {
    text-align: center;
    margin:10px ;
    display:flexbox; 
    border-color: #ef7604;
    border: 10px;
    position:absolute;
    bottom:10px;
    left:170px;
    width: 65%;
    background-color: #373333;
    
    border-radius: 4px;
    
    transition: all 0.3s ease-in-out;
  }
.footer-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
  }
  
.footer-form input[type="text"],
.footer-form input[type="email"],
.footer-form input[type="tel"],
.footer-form textarea {

    width: 25%;
    align-items: center;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 15px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  
.footer-form button {
    background-color: #ef7604; /* Adjust as needed */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
.footer-form button:hover {
    background-color: #5a4e47;
  }
  
.footer-form.active {
    display: block; /* Muestra el formulario al activarlo */
  }
  
.footer-option {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease-in-out;
  }
  
.footer-option:hover {
    color: #ccc;
  }  
  /*web responsive*/
  @media only screen and (max-width: 600px) and (orientation: portrait) {

    .footer {
        background-color: #333;
        color: #fff;
        padding: 10px 0;
      }
      
      .container {
        max-width: 400px;
        margin: 0 auto;
      }
      
      .footer-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      
      .footer-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      
        p {
          margin: 0;
          padding: 5px 0;
      
          a {
            color: #fff;
            text-decoration: none;
      
            &:hover {
              color: #ccc;
            }
          }
        }
      }
      .footer-options {
        display: flex;
      }
      
      .footer-option {
        color: #fff;
        text-decoration: none;
        margin-left: 10px;
      }
      .imageF {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
      }
      
      .imageF {
        height: 100px;
      }
      .option-link {
        display: flex;
        align-items: center;
        margin-left: 10px;
        text-decoration: none;
        color: #fff;
      }
      
      .option-link:hover {
        color: #ccc;
      }
      
      .option-link span {
        margin-left: 5px;
      }  
      .footer-form {
        text-align: center;
        margin:10px ;
        display:flexbox; 
        border-color: #ef7604;
        border: 10px;
        position:absolute;
        bottom:40px;
        left:26px;
        width: 85%;
        background-color: #373333;
        
        border-radius: 4px;
        
        transition: all 0.3s ease-in-out;
      }
      .footer-form label {
        display: block;
        margin-bottom: 5px;
        font-size: 16px;
      }
      
      .footer-form input[type="text"],
      .footer-form input[type="email"],
      .footer-form textarea {
        width: 35%;
        align-items: center;
        padding: 10px;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 4px;
        font-size: 16px;
        margin-bottom: 15px;
      }
      
      .footer-form button {
        background-color: #ef7604; 
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }
      
      .footer-form button:hover {
        background-color: #5a4e47;
      }
      
      .footer-form.active {
        display: block; /* Muestra el formulario al activarlo */
      }
      
      .footer-option {
        cursor: pointer;
        text-decoration: none;
        color: #fff;
        transition: all 0.3s ease-in-out;
      }
      
      .footer-option:hover {
        color: #ccc;
      }  

  }